<link rel="stylesheet" href="/stylesheets/login.css" />

<% layout('layout/boilerplate')%>

<div class="row">
  <div
    class="mt-5 col-lg-4 offset-lg-4 col-md-4 offset-md-4 col-sm-6 offset-sm-3"
  >
    <div class="card shadow">
      <div class="cardImage" height="50px">
        <img
          src="https://images.unsplash.com/photo-1438806146127-b8ad315ddc89?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDQ4fHxwYW5jYWtlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60"
          alt=""
          class="card-img-top img-fluid"
        />
      </div>
      <div class="card-body">
        <h4 class="card-title text-center my-3">
          <a
            href="/login"
            style="color: black; text-decoration: none"
            id="loginLink"
          >
            Login</a
          >
          <span> | </span>
          <a
            href="/register"
            style="color: black; text-decoration: none"
            id="registerLink"
          >
            Register</a
          >
        </h4>
        <form action="/login" method="POST" class="validated-form" novalidate>
          <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input
              class="form-control"
              type="text"
              id="username"
              name="username"
              autofocus
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>

          <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input
              class="form-control"
              type="password"
              id="password"
              name="password"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="signIn-btn text-center">
            <button type="submit" class="btn btn-warning btn-block">
              Sign in
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
